.mainPage
    display: flex
    align-items: center
    justify-content: center
    position: relative
    

.line_section_div
    max-width: 1500px   // limit container expanding
    background: #00808000
    height: 16rem
    width: 80vw
    border-left: 6px solid #fff
    overflow: visible
    @include center()
    justify-content: flex-end
    &, *
        transition: all .7s ease
    .main_content_section
        max-width: 1500px   // limit container expanding
        opacity: 1
        flex-shrink: 0
        width: 80vw
        height: 100%
        background: #f40f0f00
        @include center()
        padding: 0 3rem
        justify-content: space-between
        font-family: 'Oxygen', sans-serif
        display: flex
        span
            transition: all .3s ease
            font-size: 44px
            color: silver
            line-height: 4rem
        .login_btn
            background-image: url('../img/loginBtn.png')
        .search_btn
            background-image: url('../img/srcBtn.png')
        .init_loggedin_data_fetch
            background-image: url('../img/loadingBtn.png')

        .main_action_button
            //border: 2px solid #fff
            border: none
            background-size: cover
            border-radius: 50%
            width: 15rem
            height: 15rem
            cursor: pointer
            h3
                color: #eee
                font-size: 2rem
            img
                opacity: 0  // initial state
                height: 100%
                animation: fadeToExistance .5s forwards
                

// on search mode:
.line_section_div_search
    width: 22rem
    .main_content_section
        pointer-events: none
        span
            opacity: 0


// on login mode:
.line_section_div_login
    height: 20rem
    justify-content: flex-start
    .main_content_section   // remove content section, replace it with login section
        position: absolute
        transform: translateX(-60rem)
        opacity: 0
        pointer-events: none
    
        
// on register mode:
.line_section_div_register
    height: 28rem
    justify-content: flex-start
    .main_content_section   // remove content section, replace it with login section
        position: absolute
        transform: translateX(-60rem)
        opacity: 0
        pointer-events: none



@media (max-width: 700px)
    .line_section_div
        height: 35rem
        border-left: none
    .main_content_section
        padding-left: 25% !important
        flex-direction: column
        justify-content: space-evenly !important
        align-items: center !important
        span 
            font-size: 2rem !important
            line-height: 3rem !important
            width: 140% !important
